<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>


<% if user_signed_in? %>
  <p>
    <%= link_to 'se déconnecter', destroy_user_session_path, method: :delete %>
  </p>  
<% else %>
  <p>
   <%= link_to 'se connecter', new_user_session_path %>
  </p>
<% end %>

<%= debug user_signed_in? %>
<%= debug current_user %>