<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>

<p>
  <span>is user sign in : <%= user_signed_in? %></span><br>
  <span>current_user is <%= current_user %></span><br>

  <% if user_signed_in? == true %>
    <span>current_user.email is <%= current_user.email %></span><br>
    <span>current_user.id is <%= current_user.id %></span><br><br>
  <% end %>

  <span>session is <%= session %></span><br>
  <span>user_session is <%= user_session %></span><br><br>

  <span>session[:cart_id] is <%= session[:cart_id] %></span><br><br>



  <span>@cart is <%= @cart %></span><br>
  <span>@cart.id is <%= @cart.id %></span><br>
  
</p>

<% if user_signed_in? %>
  <p>
    <%= link_to 'se déconnecter', destroy_user_session_path, method: :delete %>
  </p>  
<% else %>
  <p>
   <%= link_to 'se connecter', new_user_session_path %>
  </p>
<% end %>

<%= debug user_signed_in? %>
<%= debug current_user %>