<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<h2>Hello World</h2>
<p>
  The time is now : <%= Time.now %>
</p>

<p>
  <span>is user sign in : <%= user_signed_in? %></span><br>
  <span>current_user is : <%= current_user %></span><br>

  <% if user_signed_in? == true %>
    <span>current_user.email is : <%= current_user.email %></span><br>
    <span>current_user.id is : <%= current_user.id %></span><br><br>

    <span>@cart is : <%= @cart %></span><br>
    <span>@cart.id is : <%= @cart.id %></span><br><br>
    <span>@cart.user_id is : <%= @cart.user_id %></span><br>

  <% end %>

  <span>session is : <%= session %></span><br>
  <span>user_session is : <%= user_session %></span><br><br>

  <span>session[:cart_id] is : <%= session[:cart_id] %></span><br><br>

</p>


<% if user_signed_in? %>
  <p>
    <%= link_to 'se déconnecter', destroy_user_session_path, method: :delete %>
  </p>  
<% else %>
  <p>
   <%= link_to 'se connecter', new_user_session_path %>
  </p>
<% end %>

<% if user_signed_in? %>
  <hr>
  <h3>Current_cart</h3>

  <% @actual_cart = Cart.find_by(id: current_user.id) %>

  <% @actual_lineItem = @actual_cart.line_items %>

  <% @actual_lineItem.each do |lineItem| %>
    <ul>
      <li><%= lineItem.product.title %></li>
    </ul>

  <% end %>
  <hr>
  <h3>My Orders</h3>

  <% @my_orders = current_user.orders %>

  <% @my_orders.each do |order| %>
    <ul>
      <li><%= order.id %> - <%= order.created_at%> - total : <%= number_to_currency(@cart.total_price) %></li>
      <% @order_lineOrder = order.line_orders %>
      <% @order_lineOrder.each do |lineOrder| %>
        <ul>
          <li><%= lineOrder.product.title %> - <%= lineOrder.quantity%></li>
        </ul>
      <% end %>
    </ul>
  <% end %>


  <hr>
<% end %>

<%= debug user_signed_in? %>
<%= debug current_user %>