<p id="notice"><%= notice %></p>

<h1>Orders Recap</h1>

<hr>

<div class="container">
      <div class="row">

        <div class="col-md-5">

          <ul id="my-order">
          <h5>Date - Username</h5>
            <% @orders.each do |order| %>
              <li id="order<%= order.id %>">
                <%= link_to order.created_at, order_path(order), remote: true %> - by <%= order.user.username %>
              </li>
            <% end %>
          </ul>    
        </div>

        <div class="col-md-7">

          <h5>info</h5>
          <div id="order-show">

          </div>
          
        </div>
        
      </div>
    </div>

<hr>

<%= link_to 'New Order', new_order_path %>
