<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>


<div>
  <%= button_to 'Empty cart', @cart, method: :delete, data: {confirm: "Are you sure ?"}, class: ""%>
</div>

<div>
  <h4>Total: </h4>
  <%= number_to_currency(@cart.total_price) %>
</div>