<p id="notice"><%= notice %></p>

<h1>Cart de <%= current_user.username %></h1>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>

<div>
<ul>
<% @cart.line_items.each do |item|  %>
  <li><%= item.product.title%> - <%= item.quantity%> - <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></li>

<% end %>


</ul>


</div>


<div>
  <%= button_to 'Confirmer Commande', @cart, method: :delete, data: {confirm: "Are you sure ?"}, class: ""%>
</div>


<div>
  <h4>Total: </h4>
  <%= number_to_currency(@cart.total_price) %>
</div>


<% if @cart.total_price >= 0 %>

  <%= link_to 'Passer la commande (NEXT GEN)',
  checkout_create_path(total: @total_price, cart: @cart, cart_item: @cart.line_items), method: :post, class: "btn btn-primary", remote: true %>

<% end %>

<div>

<%= @here = @cart.line_items%>
<p><%= @here.class %></p>
<% @here.each do |item| %>
<p><%= item %></p>
<% end %>

  <p>
      <span>is user sign in : <%= user_signed_in? %></span><br>
     <span>current_user is <%= current_user %></span><br>
    <span>user_session is <%= user_session %></span>
  </p>
</div>