
<div class="container">

  <div>
    <div><h1 class="my-4">Welcome to the Kittens Business</h1></div>
    <div>
      <% if user_signed_in? %>
        <% if current_user.admin == true %>
          <%= link_to 'Add A New Product', new_product_path, :class => "btn btn-outline-danger mb-4" %>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <div class="card-body">
          <img class="card-img-top" src="http://placehold.it/700x400" alt="">
            <h4 class="card-title"><a> <%= link_to product.title, product %></a></h4>
            <p class="card-text"><strong>Description : </strong><%= product.description %></p>
            <p class="card-text"><strong>Format : </strong> <%= product.format %></p>
            <p class="card-text"><%= product.price %>€</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
</div>
  

